@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --text-color: rgba(251, 251, 251, 0.8);
  --bg-url: url(../img/dark/Background.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --button-default-bg: rgba(255, 255, 255, 0.1);
  --profile-border: #ccc;
  --switch-bg: url(../mon.svg);
}

.light {
  --text-color: #000;
  --bg-url: url(../img/light/Background.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --button-default-bg: rgba(0, 0, 0, 0.1);
  --profile-border: #333;
  --switch-bg: url(../sun.svg);
}

body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Open Sans', sans-serif;
  background-image: var(--bg-url);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  color: var(--text-color);
}

.container {
  max-width: 360px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.profile {
  text-align: center;
  padding: 1.5em;
}

.profile img {
  width: 45%;
  border-radius: 50%;
  border: 2px solid var(--profile-border);
  margin: .5em auto;
}

.profile p {
  font-weight: 500;
  font-size: 1em;
  line-height: 1.5em;
}

.switch {
  margin: 1.25em auto;
  position: relative;
  width: 4em;
}

.switch button {
  width: 2em;
  height: 2em;
  background: #fff;
  border: 0;
  border-radius: 50%;
  background-image: var(--switch-bg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  animation: deslizarBotaoBack .4s;
}

.light .switch button {
  animation: deslizarBotaoIn .4s forwards;
}

.switch span {
  display: block;
  width: 4em;
  height: 1.5em;
  background: var(--button-default-bg);
  border: 1px solid var(--stroke-color);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

.links ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;

}

.links ul li a {
  font-size: 2em;
  font-weight: 500;
  color: inherit;
  padding: .5em 4.5em;
  display: inline-flex;
  text-decoration: none;
  background: var(--button-default-bg);
  border: 1px solid var(--stroke-color);
  border-radius: .5em;
}

.git:hover {
  background: rgba(251, 251, 251, 0.8);
  color: #171515;
  border: 1.5px solidvar(--text-color);
}

.linkedin:hover {
  background: #007bb6;
  color: rgba(251, 251, 251, 0.8);
  border: 1.5px solid #007bb6;
}

.instagram:hover {
  background: #E1306C;
  color: rgba(251, 251, 251, 0.8);
  border: 1.5 solid #E1306C;
}

.gmail:hover {
  background: #db4a39;
  color: rgba(251, 251, 251, 0.8);
  border: 1.5px solid #db4a39;
}

@keyframes deslizarBotaoIn {
  from {
    left: 0;
  }

  to {
    left: 60%;
  }
}

@keyframes deslizarBotaoBack {
  from {
    left: 60%;
  }

  to {
    left: 0;
  }
}